.modalForm{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.499);
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  display: grid;
  place-content: center;
  display: none;
}

.activeForm{
  display: grid;
}

.modalForm__form{
  background-color: white;
  font-family: cursive;
  padding: 20px;
}

h3{
  margin: 0;
}

.modalForm__input{
  outline: none;
}